<title>Nomad: City<%= //reviews[0].title %></title>

<%- include partials/header.ejs %>

<div class="two-thirds center">

  <h1>City<%= // reviews[0].title %></h1>


<div class="row-sp-btwn">
  <h1>Reviews</h1>
  <a href="#">
  <!-- <a href="/albums/<%= //reviews[0].id%>/reviews/new"> -->
    <button>Add review</button>
  </a>
</div>

  <%- include partials/reviews.ejs %>

</div>
<%- include partials/footer.ejs %>
