<h2>Reviews</h2>

<% //reviews.forEach((review) => { %>
  <div class="box">
    <div class="row-sp-btwn">
      <a href="/albums/<%= // review.id %>">
        <h2>Review Title<%= //review.title %></h2>
      </a>
      <h3>Review Date<%= //review.date_created %></h3>

      <% //if (review.user_id === userId) { %>
        <img src="trash.png" alt="delete" class="delete-review" data-review-id='<%= //review.review_id %>'>
      <% //} %>

    </div>
    <p>Review stuff. Review review review. Review review review. Review review review. Review review review.Review review review. Review review review. Review review review.Review review review.Review review review. Review review review.<%= //review.content %></p>
    <p>by <a href="/users/<%= //review.user_id%>"><%= // review.name %></a></p>
  </div>

  <div class="box">
    <div class="row-sp-btwn">
      <a href="/albums/<%= // review.id %>">
        <h2>Review Title<%= //review.title %></h2>
      </a>
      <h3>Review Date<%= //review.date_created %></h3>

      <% //if (review.user_id === userId) { %>
        <img src="trash.png" alt="delete" class="delete-review" data-review-id='<%= //review.review_id %>'>
      <% //} %>

    </div>
    <p>Review stuff. Review review review. Review review review. Review review review. Review review review.Review review review. Review review review. Review review review.Review review review.Review review review. Review review review.<%= //review.content %></p>
    <p>by <a href="/users/<%= //review.user_id%>"><%= // review.name %></a></p>
  </div>

  <div class="box">
    <div class="row-sp-btwn">
      <a href="/albums/<%= // review.id %>">
        <h2>Review Title<%= //review.title %></h2>
      </a>
      <h3>Review Date<%= //review.date_created %></h3>

      <% //if (review.user_id === userId) { %>
        <img src="trash.png" alt="delete" class="delete-review" data-review-id='<%= //review.review_id %>'>
      <% //} %>

    </div>
    <p>Review stuff. Review review review. Review review review. Review review review. Review review review.Review review review. Review review review. Review review review.Review review review.Review review review. Review review review.<%= //review.content %></p>
    <p>by <a href="/users/<%= //review.user_id%>"><%= // review.name %></a></p>
  </div>
<%// }) %>
